In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/Shareddrives/MDST_NLP_Project_Fall_2021

Mounted at /content/drive
/content/drive/Shareddrives/MDST_NLP_Project_Fall_2021

In [16]:
import pandas as pd
import numpy as np

TRAINING_DATA_PATH = 'train.csv'
training_data = pd.read_csv(TRAINING_DATA_PATH)
TESTING_DATA_PATH = 'test.csv'
testing_data = pd.read_csv(TESTING_DATA_PATH)

In [17]:
hpl = testing_data.head()
hpl

        id                                               text
0  id02310  Still, as I urged our leaving Ireland with suc...
1  id24541  If a fire wanted fanning, it could readily be ...
2  id00134  And when they had broken down the frail door t...
3  id27757  While I was thinking how I should possibly man...
4  id04081  I am not sure to what limit his knowledge may ...

In [13]:
filtered_data = training_data[training_data['author']=='HPL']
filtered_data

            id                                               text author
1      id17569  It never once occurred to me that the fumbling...    HPL
4      id12958  Finding nothing else, not even gold, the Super...    HPL
12     id19764  Herbert West needed fresh bodies because his l...    HPL
13     id18886  The farm like grounds extended back very deepl...    HPL
19     id20836  His facial aspect, too, was remarkable for its...    HPL
...        ...                                                ...    ...
19554  id07976  They admitted they had been drunk, but both vo...    HPL
19559  id18823  When a fumbling came in the nearer casements h...    HPL
19561  id08678  Average people in society and business New Eng...    HPL
19571  id14420  My watch was still going, and told me that the...    HPL
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[5635 rows x 3 columns]

In [15]:
data_file = filtered_data.to_csv('filtered_data.csv')
from google.colab import files 
files.download("filtered_data.csv")